body {
    padding-left: 50px;
}

section {
    padding-bottom: 20px;
}

input, select {
    max-width: 400px;
}

nav {
    font-size: 40px;
}

.alert {
    max-width: 600px;
}

.img {
    height: 100px;
}

#italics {
    font-style: italic;
}