body {
    padding-left: 50px;
}

section {
    padding-bottom: 20px;
}

input, select {
    max-width: 400px;
}

nav {
    font-size: 34px;
}

.alert-general {
    background-color: peachpuff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.img {
    height: 100px;
}

#italics {
    font-style: italic;
}